USE [master]
GO
/****** Object:  Database [SQL-DB-Auto-Backup]    Script Date: 2021-02-05 05:56:58 PM ******/
CREATE DATABASE [SQL-DB-Auto-Backup]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SQL-DB-Auto-Backup', FILENAME = N'E:\CS\Works\Projects\Shared\SQL-DB-Auto-Backup\SQL-DB-Auto-Backup\DataSource\Database\Files\SQL-DB-Auto-Backup.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SQL-DB-Auto-Backup_log', FILENAME = N'E:\CS\Works\Projects\Shared\SQL-DB-Auto-Backup\SQL-DB-Auto-Backup\DataSource\Database\Files\SQL-DB-Auto-Backup_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SQL-DB-Auto-Backup].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SQL-DB-Auto-Backup]
GO
/****** Object:  Table [dbo].[BackupTasks]    Script Date: 2021-02-05 05:56:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BackupTasks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DbName] [nvarchar](max) NOT NULL,
	[LoginName] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[StartsAt] [time](7) NOT NULL,
	[MaxBackupFilesCount] [int] NOT NULL,
 CONSTRAINT [PK_BackupTasks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Logs]    Script Date: 2021-02-05 05:56:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[Id] [uniqueidentifier] NOT NULL,
	[BackupTaskId] [int] NOT NULL,
	[IsError] [bit] NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetimeoffset](0) NOT NULL,
 CONSTRAINT [PK_Logs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[Logs]  WITH CHECK ADD  CONSTRAINT [FK_Logs_BackupTasks] FOREIGN KEY([BackupTaskId])
REFERENCES [dbo].[BackupTasks] ([Id])
GO
ALTER TABLE [dbo].[Logs] CHECK CONSTRAINT [FK_Logs_BackupTasks]
GO
USE [master]
GO
